dfpracticemay67812/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfpracticemay67812"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureSqlmaydb_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlmaydb'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsmay.dfs.core.windows.net/"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://maykeyvault5657.vault.azure.net/"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "maydbserver.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "master"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sanjeev"
		},
		"AzureSqlmaydb_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "maydbserver.database.windows.net"
		},
		"AzureSqlmaydb_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "maydb"
		},
		"AzureSqlmaydb_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sanjeev"
		},
		"RestServiceJSONPlaceholder REST API_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://reqres.in"
		},
		"RestServicejsonplaceholder_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://jsonplaceholder.typicode.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_CHILD_ERROR_HANDLER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_adf_error_log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_adf_error_log]",
							"storedProcedureParameters": {
								"error_message": {
									"value": {
										"value": "@pipeline().parameters.error_message",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_name": {
									"value": {
										"value": "@pipeline().parameters.pipeline_name",
										"type": "Expression"
									},
									"type": "String"
								},
								"table_name": {
									"value": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlmaydb",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pipeline_name": {
						"type": "string"
					},
					"table_name": {
						"type": "string"
					},
					"error_message": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-27T13:58:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlmaydb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CHILD_INGESTION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_CHILD_LOGGING",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CHILD_LOGGING",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"run_id": {
									"value": "@pipeline().RunId\n",
									"type": "Expression"
								},
								"pipeline_name": "PL_CHILD_INGESTION\n",
								"table_name": {
									"value": "@pipeline().parameters.table_name\n",
									"type": "Expression"
								},
								"status": "STARTED\n",
								"rows_loaded": "0",
								"error_message": "NULL"
							}
						}
					},
					{
						"name": "COPY_DYNAMIC",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_CHILD_LOGGING",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "DynamicRange",
								"partitionSettings": {
									"partitionUpperBound": "",
									"partitionLowerBound": ""
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "@pipeline().parameters.source_table"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "@concat( pipeline().parameters.table_name, '_', formatDateTime(utcNow(),'yyyyMMddHHmmss'), '.csv' )",
									"FolderLocation": "@pipeline().parameters.sink_path"
								}
							}
						]
					},
					{
						"name": "PL_CHILD_LOGGING2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "COPY_DYNAMIC",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CHILD_LOGGING",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"run_id": {
									"value": "@pipeline().RunId\n",
									"type": "Expression"
								},
								"pipeline_name": "PL_CHILD_INGESTION\n",
								"table_name": {
									"value": "@pipeline().parameters.table_name\n",
									"type": "Expression"
								},
								"status": "SUCCESS\n",
								"rows_loaded": {
									"value": "@activity('COPY_DYNAMIC').output.rowsCopied\n",
									"type": "Expression"
								},
								"error_message": "NULL\n"
							}
						}
					},
					{
						"name": "PL_CHILD_LOGGING2_copy1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "COPY_DYNAMIC",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CHILD_LOGGING",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"run_id": {
									"value": "@pipeline().RunId\n",
									"type": "Expression"
								},
								"pipeline_name": "PL_CHILD_INGESTION\n",
								"table_name": {
									"value": "@pipeline().parameters.table_name\n",
									"type": "Expression"
								},
								"status": "Failed",
								"rows_loaded": {
									"value": "0",
									"type": "Expression"
								},
								"error_message": {
									"value": "@activity('COPY_DYNAMIC').error.message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_CHILD_ERROR_HANDLER",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "COPY_DYNAMIC",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CHILD_ERROR_HANDLER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"pipeline_name": "PL_CHILD_INGESTION",
								"table_name": {
									"value": "@pipeline().parameters.table_name",
									"type": "Expression"
								},
								"error_message": {
									"value": "@activity('COPY_DYNAMIC').error.message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"table_name": {
						"type": "string"
					},
					"source_table": {
						"type": "string"
					},
					"sink_path": {
						"type": "string"
					},
					"load_type": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-30T14:52:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_CHILD_LOGGING')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CHILD_ERROR_HANDLER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CHILD_LOGGING')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_adf_logging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_adf_logging]",
							"storedProcedureParameters": {
								"error_message": {
									"value": {
										"value": "@pipeline().parameters.error_message",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_name": {
									"value": {
										"value": "@pipeline().parameters.pipeline_name",
										"type": "Expression"
									},
									"type": "String"
								},
								"rows_loaded": {
									"value": {
										"value": "@pipeline().parameters.rows_loaded",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"run_id": {
									"value": {
										"value": "@pipeline().parameters.run_id",
										"type": "Expression"
									},
									"type": "String"
								},
								"status": {
									"value": {
										"value": "@pipeline().parameters.status",
										"type": "Expression"
									},
									"type": "String"
								},
								"table_name": {
									"value": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlmaydb",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"run_id": {
						"type": "string"
					},
					"pipeline_name": {
						"type": "string"
					},
					"table_name": {
						"type": "string"
					},
					"status": {
						"type": "string"
					},
					"rows_loaded": {
						"type": "string"
					},
					"error_message": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-26T16:42:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlmaydb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CHILD_VALIDATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOOKUP_VALIDATE_TABLE",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT COUNT(*) AS cnt\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_SCHEMA='dbo'\nAND TABLE_NAME =\nREPLACE('@{pipeline().parameters.source_table}','dbo.','')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlControlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LOOKUP_VALIDATE_TABLE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('LOOKUP_VALIDATE_TABLE').output.firstRow.cnt,0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail1",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "Source table validation failed",
										"errorCode": "fail"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"table_name": {
						"type": "string"
					},
					"source_table": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-26T16:42:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlControlTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_FILE_VALIDATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GM_File",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "@pipeline().parameters.FileName",
									"FolderLocation": "@pipeline().parameters.SourcePath"
								}
							},
							"fieldList": [
								"exists",
								"size",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "IF_FILE_VALID",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GM_File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(\nactivity('GM_File').output.exists,\ngreater(\nactivity('GM_File').output.size,\n0\n)\n)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail1",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "File Missing Or Empty",
										"errorCode": "''"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"SourcePath": {
						"type": "string"
					}
				},
				"folder": {
					"name": "day4"
				},
				"annotations": [],
				"lastPublishTime": "2026-06-13T09:09:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_GET_METADATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKP_METADATA",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT *\nFROM metadata_table\nWHERE is_active=1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlControlTable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LKP_METADATA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "metadata",
									"value": {
										"type": "Expression",
										"content": "@activity('LKP_METADATA').output.value"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"var": {
						"type": "String"
					}
				},
				"folder": {
					"name": "day4"
				},
				"annotations": [],
				"lastPublishTime": "2026-06-13T09:46:42Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlControlTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_LOAD_DATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Switch1",
						"type": "Switch",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.SourceType",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "SQL",
									"activities": [
										{
											"name": "Lookup1",
											"type": "Lookup",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "AzureSqlSource",
													"sqlReaderQuery": {
														"value": "SELECT watermark_value\nFROM watermark_table\nWHERE table_name=\n@{pipeline().parameters.TableName}",
														"type": "Expression"
													},
													"queryTimeout": "02:00:00",
													"partitionOption": "None"
												},
												"dataset": {
													"referenceName": "AzureSqlControlTable",
													"type": "DatasetReference",
													"parameters": {}
												},
												"firstRowOnly": false
											}
										},
										{
											"name": "Copy data1",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "Lookup1",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "AzureSqlSource",
													"sqlReaderQuery": {
														"value": "@if(\nequals(pipeline().parameters.LoadType,'FULL'),\n\nconcat(\n'SELECT * FROM dbo.',\npipeline().parameters.TableName\n),\n\nconcat(\n'SELECT * FROM dbo.',\npipeline().parameters.TableName,\n' WHERE modified_date > ''',\nactivity('Lookup1').output.firstRow.watermark_value,\n''''\n)\n)\n\n",
														"type": "Expression"
													},
													"queryTimeout": "02:00:00",
													"partitionOption": "None"
												},
												"sink": {
													"type": "DelimitedTextSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													},
													"formatSettings": {
														"type": "DelimitedTextWriteSettings",
														"quoteAllText": true,
														"fileExtension": ".txt"
													}
												},
												"enableStaging": false,
												"translator": {
													"type": "TabularTranslator",
													"typeConversion": true,
													"typeConversionSettings": {
														"allowDataTruncation": true,
														"treatBooleanAsNumber": false
													}
												}
											},
											"inputs": [
												{
													"referenceName": "AzureSqlControlTable",
													"type": "DatasetReference",
													"parameters": {}
												}
											],
											"outputs": [
												{
													"referenceName": "DelimitedText1",
													"type": "DatasetReference",
													"parameters": {
														"FileName": {
															"value": "@split(pipeline().parameters.TargetPath,'/')[1]\n\n",
															"type": "Expression"
														},
														"FolderLocation": {
															"value": "@split(pipeline().parameters.TargetPath,'/')[0]",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "Stored procedure1",
											"type": "SqlServerStoredProcedure",
											"dependsOn": [
												{
													"activity": "Copy data1",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"storedProcedureName": "[[dbo].[usp_update_watermark]",
												"storedProcedureParameters": {
													"TableName": {
														"value": {
															"value": "@pipeline().parameters.TableName",
															"type": "Expression"
														},
														"type": "String"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "AzureSqlmaydb",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "FILE",
									"activities": [
										{
											"name": "Execute Pipeline1",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"policy": {
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "PL_FILE_VALIDATION",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"FileName": {
														"value": "@split(pipeline().parameters.SourcePath,'/')[1]\n",
														"type": "Expression"
													},
													"SourcePath": {
														"value": "@split(pipeline().parameters.SourcePath,'/')[0]\n",
														"type": "Expression"
													}
												}
											}
										},
										{
											"name": "Copy data2",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "Execute Pipeline1",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings"
													}
												},
												"sink": {
													"type": "DelimitedTextSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													},
													"formatSettings": {
														"type": "DelimitedTextWriteSettings",
														"quoteAllText": true,
														"fileExtension": ".txt"
													}
												},
												"enableStaging": false,
												"translator": {
													"type": "TabularTranslator",
													"typeConversion": true,
													"typeConversionSettings": {
														"allowDataTruncation": true,
														"treatBooleanAsNumber": false
													}
												}
											},
											"inputs": [
												{
													"referenceName": "DelimitedText1",
													"type": "DatasetReference",
													"parameters": {
														"FileName": {
															"value": "@split(pipeline().parameters.SourcePath,'/')[1]\n",
															"type": "Expression"
														},
														"FolderLocation": "@split(pipeline().parameters.SourcePath,'/')[0]"
													}
												}
											],
											"outputs": [
												{
													"referenceName": "DelimitedText1",
													"type": "DatasetReference",
													"parameters": {
														"FileName": {
															"value": "@split(pipeline().parameters.TargetPath,'/')[1]\n",
															"type": "Expression"
														},
														"FolderLocation": "@split(pipeline().parameters.TargetPath,'/')[0]"
													}
												}
											]
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TableName": {
						"type": "string"
					},
					"SourceType": {
						"type": "string"
					},
					"SourceQuery": {
						"type": "string"
					},
					"SourcePath": {
						"type": "string"
					},
					"TargetPath": {
						"type": "string"
					},
					"LoadType": {
						"type": "string"
					}
				},
				"folder": {
					"name": "day4"
				},
				"annotations": [],
				"lastPublishTime": "2026-06-13T09:09:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlControlTable')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlmaydb')]",
				"[concat(variables('factoryId'), '/pipelines/PL_FILE_VALIDATION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_LOGGING')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SP_LOGGING",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_insert_log]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": {
										"value": "@pipeline().parameters.ErrorMessage",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().parameters.PipelineName",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowsLoaded": {
									"value": {
										"value": "@pipeline().parameters.RowsLoaded",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().parameters.RunID",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@pipeline().parameters.Status",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlmaydb",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"RunID": {
						"type": "string"
					},
					"PipelineName": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					},
					"Status": {
						"type": "string"
					},
					"RowsLoaded": {
						"type": "string"
					},
					"ErrorMessage": {
						"type": "string"
					}
				},
				"folder": {
					"name": "day4"
				},
				"annotations": [],
				"lastPublishTime": "2026-06-13T09:09:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlmaydb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_NOTIFICATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WA_SEND_EMAIL",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-29.northcentralus.logic.azure.com:443/workflows/c54acd7e00ad432ca2c924ead13ace07/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=_hDHzIQUWN-rq5VZij2_JvGxTk8YYFc09CRetmaWcsY",
							"body": {
								"subject": "@{pipeline().parameters.Subject}",
								"message": "@{pipeline().parameters.Message}"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Subject": {
						"type": "string"
					},
					"Message": {
						"type": "string"
					}
				},
				"folder": {
					"name": "day4"
				},
				"annotations": [],
				"lastPublishTime": "2026-06-13T09:09:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PARENT_MAIN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT *\nFROM meta_adf_pipeline\nWHERE is_active = 1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlControlTable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"batchCount": 10,
							"activities": [
								{
									"name": "PL_CHILD_VALIDATION",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CHILD_VALIDATION",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"table_name": {
												"value": "@item().table_name",
												"type": "Expression"
											},
											"source_table": {
												"value": "@item().source_table",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "PL_CHILD_INGESTION",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "PL_CHILD_VALIDATION",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CHILD_INGESTION",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"table_name": {
												"value": "@item().table_name",
												"type": "Expression"
											},
											"source_table": {
												"value": "@item().source_table",
												"type": "Expression"
											},
											"sink_path": {
												"value": "@item().sink_path",
												"type": "Expression"
											},
											"load_type": {
												"value": "@item().load_type",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-26T16:42:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlControlTable')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CHILD_VALIDATION')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CHILD_INGESTION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PARENT_MASTER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_GET_METADATA",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_GET_METADATA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "PL_GET_METADATA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('PL_GET_METADATA').output.pipelineReturnValue.metadata",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 5,
							"activities": [
								{
									"name": "PL_LOGGING",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_LOGGING",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"RunID": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"PipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"TableName": {
												"value": "item().table_name",
												"type": "Expression"
											},
											"Status": "STARTED",
											"RowsLoaded": "0",
											"ErrorMessage": "''"
										}
									}
								},
								{
									"name": "PL_LOAD_DATA",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "PL_LOGGING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_LOAD_DATA",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TableName": {
												"value": "@item().table_name\r\n",
												"type": "Expression"
											},
											"SourceType": {
												"value": "@item().source_type\r\n",
												"type": "Expression"
											},
											"SourceQuery": {
												"value": "@item().source_query\r\n",
												"type": "Expression"
											},
											"SourcePath": {
												"value": "@item().source_path\r\n",
												"type": "Expression"
											},
											"TargetPath": {
												"value": "@item().target_path\r\n",
												"type": "Expression"
											},
											"LoadType": {
												"value": "@item().load_type\r\n",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "PL_LOGGING1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "PL_LOAD_DATA",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_LOGGING",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"RunID": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"PipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"TableName": {
												"value": "@item().table_name\r\n",
												"type": "Expression"
											},
											"Status": "SUCCESS",
											"RowsLoaded": {
												"value": "@activity('PL_LOAD_DATA').output.rowsCopied",
												"type": "Expression"
											},
											"ErrorMessage": "''"
										}
									}
								},
								{
									"name": "PL_LOGGING1_copy1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "PL_LOAD_DATA",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_LOGGING",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"RunID": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"PipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"TableName": {
												"value": "@item().table_name\r\n",
												"type": "Expression"
											},
											"Status": "FAILED",
											"RowsLoaded": {
												"value": "@activity('PL_LOAD_DATA').output.rowsCopied",
												"type": "Expression"
											},
											"ErrorMessage": {
												"value": "@activity('PL_LOAD_DATA').error.message",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "PL_NOTIFICATION",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "PL_LOGGING1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_NOTIFICATION",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Subject": "ADF Pipeline Passed",
											"Message": {
												"value": "@concat(\nitem().table_name,\n' loaded successfully. Rows Loaded: ',\nstring(activity('PL_LOAD_DATA').output.rowsCopied)\n)",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "PL_NOTIFICATION_copy1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "PL_LOGGING1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_NOTIFICATION",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Subject": "ADF Pipeline Passed",
											"Message": {
												"value": "@concat(\nitem().table_name,\n' load failed. Error: ',\nactivity('PL_LOAD_DATA').error.message\n)",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "day4"
				},
				"annotations": [],
				"lastPublishTime": "2026-06-14T13:05:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_GET_METADATA')]",
				"[concat(variables('factoryId'), '/pipelines/PL_LOGGING')]",
				"[concat(variables('factoryId'), '/pipelines/PL_LOAD_DATA')]",
				"[concat(variables('factoryId'), '/pipelines/PL_NOTIFICATION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_WAIT_FOR_FILE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(\nvariables('FileFound'),\ngreaterOrEquals(variables('Counter'),12)\n)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "GM_Check_File",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DelimitedText1",
											"type": "DatasetReference",
											"parameters": {
												"FileName": "emp1.csv",
												"FolderLocation": "source"
											}
										},
										"fieldList": [
											"exists"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GM_Check_File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@activity('GM_Check_File').output.exists",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Wait_5_Minutes",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 300
												}
											},
											{
												"name": "Set variable2",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "Counter_New",
													"value": {
														"value": "@add(variables('Counter'),1)",
														"type": "Expression"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "FileFound",
													"value": {
														"value": "@bool('true')",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							],
							"timeout": "0.01:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"FileFound": {
						"type": "Boolean",
						"defaultValue": false
					},
					"Counter": {
						"type": "Integer"
					},
					"Counter_New": {
						"type": "Integer"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-14T13:22:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n'SELECT * FROM Orders WHERE ModifiedDate > ''',\nvariables('v_Watermark'),\n''''\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "GET_SECRET",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://maykeyvault5657.vault.azure.net/secrets/watermarkdate?api-version=7.4",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET_SECRET",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_Watermark",
							"value": {
								"value": "@activity('GET_SECRET').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"v_Watermark": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-30T14:52:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlControlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlmaydb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SourceType",
						"type": "varchar"
					},
					{
						"name": "SourceName",
						"type": "varchar"
					},
					{
						"name": "SourceObject",
						"type": "varchar"
					},
					{
						"name": "SinkType",
						"type": "varchar"
					},
					{
						"name": "SinkPath",
						"type": "varchar"
					},
					{
						"name": "LoadType",
						"type": "varchar"
					},
					{
						"name": "WatermarkColumn",
						"type": "varchar"
					},
					{
						"name": "WatermarkValue",
						"type": "varchar"
					},
					{
						"name": "IsActive",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ControlTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlmaydb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlmaydb",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlmaydb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable2_query')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlmaydb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlmaydb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Parquet_Generic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderPath": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().FolderPath",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"FolderLocation": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().FolderLocation",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('users_page_',string(variables('pageNumber')),'.json')",
							"type": "Expression"
						},
						"fileSystem": "dest"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(item().SourceObject,'.json')\n\n\n\n\n",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().FolderPath",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderPath": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().FolderPath",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceJSONPlaceholder REST API",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('/api/users?page=',string(variables('pageNumber')))",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestServiceJSONPlaceholder REST API')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServicejsonplaceholder",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@if(\nequals(pipeline().parameters.LoadType,'Incremental'),\nconcat(\npipeline().parameters.SourcePath,\n'?',\npipeline().parameters.WatermarkColumn,\n'=',\npipeline().parameters.WatermarkValue\n),\npipeline().parameters.SourcePath\n)",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestServicejsonplaceholder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "sqluserpassword",
						"secretVersion": "22089aae6b6c44c2b678e889943de130"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlmaydb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlmaydb_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlmaydb_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlmaydb_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlmaydb_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestServiceJSONPlaceholder REST API')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestServiceJSONPlaceholder REST API_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestServicejsonplaceholder')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestServicejsonplaceholder_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		}
	]
}