pipeline/PL_GET_METADATA.json
{
	"name": "PL_GET_METADATA",
	"properties": {
		"activities": [
			{
				"name": "LKP_METADATA",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *\nFROM metadata_table\nWHERE is_active=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlControlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LKP_METADATA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "metadata",
							"value": {
								"type": "Expression",
								"content": "@activity('LKP_METADATA').output.value"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"var": {
				"type": "String"
			}
		},
		"folder": {
			"name": "day4"
		},
		"annotations": [],
		"lastPublishTime": "2026-06-13T09:46:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}