pipeline/PL_LOAD_DATA.json
{
	"name": "PL_LOAD_DATA",
	"properties": {
		"activities": [
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.SourceType",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "SQL",
							"activities": [
								{
									"name": "Lookup1",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT watermark_value\nFROM watermark_table\nWHERE table_name=\n@{pipeline().parameters.TableName}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzureSqlControlTable",
											"type": "DatasetReference"
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Lookup1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@if(\nequals(pipeline().parameters.LoadType,'FULL'),\n\nconcat(\n'SELECT * FROM dbo.',\npipeline().parameters.TableName\n),\n\nconcat(\n'SELECT * FROM dbo.',\npipeline().parameters.TableName,\n' WHERE modified_date > ''',\nactivity('Lookup1').output.firstRow.watermark_value,\n''''\n)\n)\n\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AzureSqlControlTable",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "DelimitedText1",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@split(pipeline().parameters.TargetPath,'/')[1]\n\n",
													"type": "Expression"
												},
												"FolderLocation": {
													"value": "@split(pipeline().parameters.TargetPath,'/')[0]",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[dbo].[usp_update_watermark]",
										"storedProcedureParameters": {
											"TableName": {
												"value": {
													"value": "@pipeline().parameters.TableName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlmaydb",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "FILE",
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_FILE_VALIDATION",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"FileName": {
												"value": "@split(pipeline().parameters.SourcePath,'/')[1]\n",
												"type": "Expression"
											},
											"SourcePath": {
												"value": "@split(pipeline().parameters.SourcePath,'/')[0]\n",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Execute Pipeline1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DelimitedText1",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@split(pipeline().parameters.SourcePath,'/')[1]\n",
													"type": "Expression"
												},
												"FolderLocation": "@split(pipeline().parameters.SourcePath,'/')[0]"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DelimitedText1",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@split(pipeline().parameters.TargetPath,'/')[1]\n",
													"type": "Expression"
												},
												"FolderLocation": "@split(pipeline().parameters.TargetPath,'/')[0]"
											}
										}
									]
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string"
			},
			"SourceType": {
				"type": "string"
			},
			"SourceQuery": {
				"type": "string"
			},
			"SourcePath": {
				"type": "string"
			},
			"TargetPath": {
				"type": "string"
			},
			"LoadType": {
				"type": "string"
			}
		},
		"folder": {
			"name": "day4"
		},
		"annotations": [],
		"lastPublishTime": "2026-06-13T09:09:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}