pipeline/PL_WAIT_FOR_FILE.json
{
	"name": "PL_WAIT_FOR_FILE",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\nvariables('FileFound'),\ngreaterOrEquals(variables('Counter'),12)\n)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GM_Check_File",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"FileName": "emp1.csv",
										"FolderLocation": "source"
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GM_Check_File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('GM_Check_File').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait_5_Minutes",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 300
										}
									},
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Counter_New",
											"value": {
												"value": "@add(variables('Counter'),1)",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "FileFound",
											"value": {
												"value": "@bool('true')",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "0.01:00:00"
				}
			}
		],
		"variables": {
			"FileFound": {
				"type": "Boolean",
				"defaultValue": false
			},
			"Counter": {
				"type": "Integer"
			},
			"Counter_New": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-14T13:22:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}